<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Página</title>
  <link rel="stylesheet" href="static/mainMenuStyle.css">
</head>
<body>
  <div class="grid-container">
    <div class="item-container">
      <button class="icon-button" id="create-product">
        <img src="static/icons/create-product.png" alt="Crear producto">
      </button>
      <label for="create-product" class="item-label">Crear Producto</label>
    </div>
    <div class="item-container">
      <button class="icon-button" id="increase-stock">
        <img src="static/icons/increase-stock.png" alt="Aumentar stock">
      </button>
      <label for="increase-stock" class="item-label">Aumentar Stock</label>
    </div>
    <div class="item-container">
      <button class="icon-button" id="sell-product">
        <img src="static/icons/sell-product.png" alt="Vender producto">
      </button>
      <label for="sell-product" class="item-label">Vender Producto</label>
    </div>
    <div class="item-container">
      <button class="icon-button" id="search-purchases">
        <img src="static/icons/search-purchases.png" alt="Buscar compras de un cliente">
      </button>
      <label for="search-purchases" class="item-label">Buscar Compras</label>
    </div>
    <div class="item-container">
      <button class="icon-button" id="daily-sales">
        <img src="static/icons/daily-sales.png" alt="Revisar ventas diarias">
      </button>
      <label for="daily-sales" class="item-label">Ventas Diarias</label>
    </div>
    <div class="item-container">
      <button class="icon-button" id="gallery">
        <img src="static/icons/gallery.png" alt="Galería">
      </button>
      <label for="gallery" class="item-label">Galería</label>
    </div>
  </div>
  <script src="static/menu.js"></script>
</body>
</html>